$abs: absolute;
$rel: relative;

$content-width: 1920px;
$content-height: 1080px;
$content: 100%;
$padding: 20px;

$font: FiraGO;
$color: #6a1b9a;
$bg-color: #8338ec;
$drkcolor: #212529;
$wht: #ffffff;
$bl: bold;
$mn-font: 16px;
$weight: 400;

$no: none;

$point: pointer;
