@use "../index.scss" as *;

//Listed tasks scss
.tasks_list {
  display: flex;
  margin: 20px 50px;
  gap: 20px;
  .status_header {
    font-size: 30px;
    font-weight: 600;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    text-align: center;
  }
}

//Some Design :)
.task_card {
  width: 350px;
  min-height: 250px;
  background: $wht;
  border-radius: 12px;
  padding: 20px 15px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
  &.starter {
    border: 5px solid $start;
  }

  &.in-progress {
    border: 5px solid $progress;
  }

  &.ready {
    border: 5px solid $ready;
  }

  &.finished {
    border: 5px solid $finished;
  }

  .task_header {
    @include flex(center, space-between);
    font-size: 14px;
    font-weight: $bl;
    margin-bottom: 16px;
  }
  .task_name {
    font-size: 40px;
    font-weight: $bl;
    margin-bottom: 10px;
  }
  .task_description {
    font-size: 25px;
    color: #444;
    margin-bottom: 30px;
  }
  .assignee_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #ddd;
  }
}
ul {
  list-style-type: $no;
  flex-wrap: wrap;
  padding-left: 0px;
}
