@use "../index.scss" as *;

.section_title {
  font-size: 40px;
  margin-top: 20px;
  margin-left: 50px;
}
.add_task_container {
  width: 1684px;
  height: $auto;
  margin: $auto;
  background: #fbf9ffa6;
  .error_styles {
    color: #08a508;
    font-size: 20px;
  }
  .form-container {
    padding: 30px;
    width: $content;

    input[type="text"] {
      width: 522px;
      height: 50px;
      font-size: 25px;
    }

    input[type="date"] {
      width: 350px;
      height: 60px;
      font-size: 25px;
    }

    input::placeholder,
    textarea::placeholder {
      color: #888;
      font-size: 26px;
      font-style: italic;
    }

    form {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      select {
        width: 550px;
        height: 50px;
        font-size: 20px;
      }
      .form_statuses {
        width: 350px;
        height: 60px;
      }

      .form_group {
        flex: 1 1 30%;
        display: flex;
        flex-direction: column;

        label {
          margin-top: 50px;
          font-weight: $bl;
          font-size: 36px;
          color: #343a40;
          margin-bottom: 20px;
        }
        textarea {
          width: 650px;
          height: 100px;
          font-size: 25px;
        }
      }

      .submit-button {
        width: 20%;
        padding: 10px;
        background: #6200ea;
        color: $wht;
        border: $no;
        border-radius: 5px;
        cursor: $point;
        font-size: 36px;
        margin-bottom: 20px;
        margin-top: 50px;
        margin-left: $auto;
        margin-right: 100px;
      }
    }
  }
  .custom_dropdown {
    position: $rel;
    width: 100%;

    .dropdown_button {
      width: 350px;
      height: 60px;
      padding: 10px;
      background: $wht;
      border: 1px solid #ccc;
      border-radius: 5px;
      cursor: $point;
      font-size: 30px;
      .dropdown_arrow {
        font-size: 20px;
        position: $abs;
        left: 20px;
        top: 20px;
      }
    }
    .dropdown_menu {
      position: $abs;
      width: $content;
      border: 1px solid #ccc;
      border-radius: 5px;
      list-style: $no;
      padding: 0;
      margin-top: 5px;
      display: block;
      z-index: 10;
      background: $wht;
      li {
        padding: 10px;
        cursor: $point;
        @include flex(center, "");

        font-size: 30px;
      }
      div {
        margin-left: 20px;
      }
    }
  }
}

.employee_avatar {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.dropdown_button_employee {
  width: 550px;
  height: 70px;
  padding: 10px;
  background: $wht;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: $point;
  font-size: 30px;
  .dropdown_arrow {
    font-size: 20px;
    position: $abs;
    left: 20px;
    top: 20px;
  }
  .added_employee {
    position: $abs;
    left: 100px;
    top: 10px;
    .employee_icon {
      width: 40px;
      border-radius: 20px;
    }
  }
}

.upload_avatar {
  width: 550px;
  height: 70px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
}

.image_preview_container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.uploaded_avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.delete-button {
  padding: 10px 20px;
  background-color: #ff4444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;

  &:hover {
    background-color: #cc0000;
  }
}
