@use "../index.scss" as *;

//Navbar Content
.navbar {
  @include flex(center, space-between);
  padding: 20px 50px;
  margin-bottom: 20px;
  .logo {
    font-size: 40px;
    font-weight: $bl;
    color: $color;
    font-family: "Fredoka One";
  }
  .buttons {
    display: flex;
    gap: 25px;
    font-family: $font;
    font-weight: $weight;
  }
  .action-button1 {
    @include flex(center, "");
    padding: 10px 20px;
    width: 250px;
    height: 39px;
    color: $drkcolor;
    border: 1px solid;
    border-radius: 5px;
    cursor: $point;
    font-size: $mn-font;
    background-color: #ffffff;
  }

  .action-button {
    width: 268px;
    height: 38px;
    background-color: $bg-color;
    border: $no;
    color: white;
    border-radius: 5px;
    cursor: $point;
    font-size: $mn-font;
    transition: 0.3s;

    &:hover {
      background-color: #9c27b0;
    }
  }
}
