@use "../index.scss" as *;

//Task Main Container
.tasks_container {
  margin: 20px 50px;
  h3 {
    font-size: 34px;
    font-weight: 600;
    font: $font;
  }
  .filter_components {
    width: 750px;
    height: 54px;
    gap: $size;
    border: 1px solid #dee2e6;
    border-radius: $size;
    button {
      padding: 10px 20px;
      background: $no;
      border: $no;
      font-family: $font;
      font-weight: $weight;
      font-size: 25px;
      cursor: $point;
    }
    img {
      padding-left: $size;
    }
  }
}
