@use "../index.scss" as *;

//Task Main Container
.tasks_container {
  margin: 20px 50px;
  h3 {
    font-size: 34px;
    font-weight: 600;
    font: $font;
  }
  .filter_components {
    width: 750px;
    height: 54px;
    gap: $size;
    border: 1px solid #dee2e6;
    border-radius: $size;
    button {
      padding: 10px 20px;
      background: $no;
      border: $no;
      font-family: $font;
      font-weight: $weight;
      font-size: 25px;
      cursor: $point;
    }
    img {
      padding-left: $size;
    }
  }
}

//Statuses From APi
.statuses {
  margin-top: 50px;
  ul {
    list-style-type: $no;
    flex-wrap: wrap;
    @include flex("", space-between);
    padding-left: 0px;
    li {
      @include flex(center, center);
      font-size: 20px;
      font-weight: 500;
    }
  }
  .status_item {
    padding: $size 15px;
    font-size: 30px;
    font-weight: 500;
    color: $wht;
    border-radius: $size;
    margin-bottom: 5px;
    min-width: 201px;
    height: 54px;
    cursor: $point;
  }
}
